@import url(./fonts.css);
@import url(./common.css);

/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #f1f1f1;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;

    .head__lang {
        font-size: 18px;
        color: #323232;
        text-transform: uppercase;
    }
    .head__logo {
        font-weight: 700;
        font-size: clamp(22px,2vw,32px);
        color: #323232;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 19px; */
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    position: relative;

    @media (width < 992px) {
        padding: 20px 0;
    }
    .nav__list {
        display: flex;
        /* gap: 35px; */

        .nav__item {
            .nav__link {
                padding: 0 8px;
                color: #323232;
                text-transform: capitalize;
                display: inline-block;
                z-index: 2;
                padding: 20px 25px;
                
                &:hover {
                    background: #e2e2e2;
                }

                @media (width < 992px) {
                    font-size: 24px;
                    color: #ffffff;
                    font-weight: 700;
                }
            }
        }
        @media (width < 992px) {
            position: absolute;
            top: 100%;
            height: calc(100dvh - 146.8px);
            width: 100%;
            left: 0;
            background: rgba(100, 100, 100, 0.356);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(10px);
            --webkit-backdrop-filter: blur(10px);
            transform: scaleY(0);
            transform-origin: top;
            transition: 0.5s;
            z-index: 999;
        }
    }
    .nav__icon-list {
        display: flex;
        gap: 30px;
        margin-right: 19px;
    }

    .nav__burger {
        position: relative;
        width: 30px;
        height: 30px;
        align-items: center;
        cursor: pointer;
        display: none;

        .nav__burger-line {
            width: 100%;
            height: 2px;
            position: relative;
            background: #323232;
            transition: 0.4s;

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background: #323232;
                transition: 0.4s;
            }
            &::before{
                top: -10px;
            }
            &::after{
                top: 10px;
            }
            
        }
        &:hover {
            .nav__burger-line {
                background: transparent;
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
        @media (width < 992px) {
            display: flex;
            &:hover ~ .nav__list {
                transform: scaleY(1);
            }
        }
    }
}


/* header */

/* clocks */

.clocks {
    padding: 40px 0;
    .container {
        display: grid;
        --columns: 3;
        --rows: 2;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: repeat(var(--rows), 1fr);
        gap: 30px;
        @media (width < 992px) {
            --columns: 2;
            --rows: 3;
        }
        @media (width < 992px) {
            --columns: 2;
        }

        .clocks__card {
            background: #E1E1E1;
            border-radius: 8px;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            padding: 22px 0 27px;
            gap: 32px 40px;

            .clocks__card-info {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 20px;
                align-items: flex-start;
                color: #fff;
                position: absolute;
                top: 0;

                .clocks__card-sale {
                    padding: 10px 30px;
                    background: #323232;
                    border-radius: 8px;
                    
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .clocks__card-btn {
                        padding: 16px 16px 13px;
                        background: #fff;
                        border-radius: 8px;
                        display: inline-block;
                    }
                }
            }
            .clocks__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                .clocks__title {
                    font-size: 20px;
                    text-transform: capitalize;
                }
                .clocks__price {
                    font-size: 18px;
                }
            }
        }
    }
}

/* clocks */

/* product */

.product__cards {
    margin: 40px 0;
    display: grid;
    gap: 30px;
    --columns: 4;
    --rows: 3;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);

    @media (width < 1024px) {
        --columns: 3;
    }
    @media (width < 768px) {
        --columns: 2;
    }
    @media (width < 480px) {
        --columns: 1;
    }

    .product__card {
        background: #E1E1E1;
            border-radius: 8px;
            display: flex;
            position: relative;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 22px 0 27px;
            gap: 32px 40px;

            .product__card-info {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 20px;
                align-items: flex-start;
                color: #fff;
                position: absolute;
                top: 0;

                .product__card-sale {
                    padding: 10px 30px;
                    background: #323232;
                    border-radius: 8px;
                    
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .product__card-btn {
                        padding: 16px 16px 13px;
                        background: #fff;
                        border-radius: 8px;
                        display: inline-block;
                    }
                }
            }

            .product__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                .product__title {
                    font-size: 20px;
                    text-transform: capitalize;
                }
                .product__price {
                    font-size: 18px;
                }
            }
    }
}

/* product */

/* news */

.news {
    .container {
        .news__cards {
            padding: 40px 0 116px;
            display: grid;
            gap: 30px;
            --columns: 4;
            --rows: 5;
            grid-template-columns: repeat(var(--columns), 1fr);
            grid-template-rows: repeat(var(--rows), 1fr);

            @media (width < 1024px) {
                --columns: 3;
                --rows: 6;
            }
            @media (width < 850px) {
                --columns: 2;
                --rows: 8;
            }
            @media (width < 480px) {
                --rows: 12;
            }

            .news__card {
                display: flex;
                position: relative;
                overflow: hidden;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                padding: 20px;
                background: linear-gradient(180deg, rgba(50, 50, 50, 0.75) 0%, rgba(50, 50, 50, 0.5) 100%);

                &:hover {
                    .news__card-inf {
                        color: #00C9A7;
                        transform: scale(0.9);
                        border: 4px solid rgba(50, 50, 50, 0.767);
                    }
                    .news__card-image {
                        transform: scale(1.1);
                    }
                }

                .news__card-inf {
                    background: #fff;  
                    padding: 15px 30px; 
                    color: #323232;
                    border-radius: 8px;
                    transition: 0.4s;
                    border: 4px solid transparent;
                }
                .news__card-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                }
                .news__card-content {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .news__card-title {
                        max-width: 492px;
                        width: 100%;
                        font-size: 22px;
                        color: #fff;
                    }
                    .news__card-txt {
                        font-size: 18px;
                        line-height: 122%;
                        color: #e1e1e1;
                        max-width: 460px;
                        width: 100%;
                    }
                }
                .news__card-time {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #fff;
                }
            }
        }
    }
}

/* news */

/* footer */

.footer {
    background: #fff;
    padding: 65px 0 83px;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px;

        @media (width < 992px) {
            flex-direction: column;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .footer__title {
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 2.5px;
                color: #323232;
            }
            .footer__list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .footer__item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media (width < 412px) {
                        flex-direction: column;
                        align-items: unset;
                    } 
                    .footer__link {
                        font-size: 18px;
                        color: #000;
                    }
                }
            }
            .footer-abm {
                gap: 16px;
            }
        }
    }
}



/* footer */